@mixin poCentering {
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .weavemail-auth-widget {
    width: 460px;
    height: 564px;
    padding: 10px 20px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.160784);
    overflow: hidden;
    border-radius: 6px;
    @include poCentering();
  
    .widget-main-container {
      
    }
  }
  